.contents {
    min-block-size: 40em;
    white-space: pre-wrap;
    font-family: monospace;

    display: flex;
    flex-direction: column;

    background: Canvas;
    border-color: #999;
    border-width: 1px;
    border-block-start-style: solid;
}


.selection {
    background: lightblue;
}

.caret {
    outline-style: none;
    color: blue;
}

.line[data-current="true"] {
    background: yellow;
}

.linetrailing {
    flex-grow: 1;
}
.line, .linetrailing {
    display: flex;
    gap: 1ch;
}

.lineno {
    background: lightgrey;
    min-inline-size: 1.8em;
}
