.textBox {
    min-block-size: 8em;
    white-space: pre-wrap;
    font-family: monospace;
    overflow: hidden;
    block-size: 100vh;
    inline-size: 100wh;
}

.selection {
    background: lightblue;
}

.cursor {
    color: blue;
}

.currentLine {
    background: yellow;
}

.textBox {
    position: relative;
}
.contents {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
}
.afterLine {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
}
.beforeLine {
    position: absolute;
    display: flex;
    bottom: 100%;
    left: 0;
}
