.editor {
    min-block-size: 8em;
}
.editorWrapper {
    position: relative;
}
.menu {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}
