.h1 {
    all: unset;
    background: black;
    color: white;
    padding-inline: 1ch;
}

.scrollbox {
    max-block-size: 100vh;
    max-inline-size: 100vw;
    overflow: scroll;
    scrollbar-color: black white;
    scrollbar-width: thin;
}
